* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    display: flex;

    padding: 1em;
    background-color: #DDF1FE;

    min-height: 100vh;
    flex-direction: column;
}

header {
    margin: 1em;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


main > section {
    margin: 2em;
    width: 50%;
    flex: 1;

}


footer {
    margin: auto auto 0 auto;
}


#js-logo {
    max-height: 153px;
}

/* Set the max screen width of 1024 */
@media screen and (max-width:992px) {
    main {
        display: block;
    }

    main img {
        max-width: 100%;
    }

    #js-logo {
        max-height: 80px;
    }
}